@font-face {
    font-family: "PingFang SC";
    font-style: normal;
    font-weight: 400;
    src: local("PingFang SC"), local("PingFang SC"),
      url("./PINGFANG REGULAR.ttf") format("truetype");
  }